<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <br>
  <br>
  <br>

  <form  [formGroup]="formlogin"
  (ngSubmit)="logar(formlogin.value)">

  <ion-card>
    
    <br>

    <ion-card-content>

      <div class="title">
        <h1 class="size">Coffe's Shop</h1>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating" >E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating" >Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    
      <br>
      <ion-button expand="block" color="danger" type="submit" >Login</ion-button>
      
      <br>
      
      <div class="color">
          <a class="color" routerLink="/cadastro-screen">Cadastrar-se</a>
      </div>
      

    </ion-card-content>
  </ion-card>

</form>
</ion-content>
