<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Coffes Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div  *ngFor="let produto of (produtos | async)">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{produto.id}}</ion-card-subtitle>
        <ion-card-title>{{produto.Nome}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          <ion-button>ok</ion-button>
          <ion-button>ok1</ion-button>
          <ion-button (click)="addCarrinhoCompra(produto)">ok2</ion-button>
        </div>
          {{produto.Descricao}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
