<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Coffes Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div  *ngFor="let produto of (produtos | async)">
    <ion-card>

      <img class="image" src="{{produto.Image}}">

      <ion-card-header>
        <ion-card-title>{{produto.Nome}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <div>
            <ion-button color="warning" class="align-right" *ngIf="rootUser" (click)="removerProduto(produto.id)" >
                <ion-icon name="create"></ion-icon>
            </ion-button>

          <ion-button color="danger" class="align-right" *ngIf="rootUser" (click)="removerProduto(produto.id)" >
              <ion-icon name="trash"></ion-icon>
          </ion-button>

          <ion-button color="success" class="align-right" *ngIf="!rootUser" (click)="addCarrinhoCompra(produto)" >
              <ion-icon name="cart"></ion-icon>
          </ion-button>
          
        </div>

        <br>

          {{produto.Descricao}}

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
