<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Adicionar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div>
    <img class="image" src="{{base64Image}}">
    <ion-button expand="block" color="danger" (click)="capturar()">Tirar Foto do Produto</ion-button>
  </div>
  <br>
  <form [formGroup]="formCadastroProduto" (ngSubmit)="Cadastrar(formCadastroProduto.value)">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" formControlName="Descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" formControlName="Preco"></ion-input>
    </ion-item>

    <br>
    
    <ion-button expand="block" color="danger" type="submit">Cadastrar</ion-button>

  </form>

</ion-content>
